# Compilação
bin/
obj/
*.exe
*.dll
*.pdb

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# Publicação
publish/
*.zip

# Sistema e cache
*.cache
*.log
*.tmp
*.bak
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# OneDrive conflitos
*.lnk

